DB_HOST=db
DB_PORT=5432
DB_DATABASE_NAME=safecall
DB_USERNAME=safecall
DB_PASSWORD=safecall

WHISPER_MODEL=large-v3

OPENAI_MODEL=gpt-4o-mini

# TTS Service Configuration
OPENAI_API_KEY=
OPENAI_TTS_MODEL=gpt-4o-mini-tts
OPENAI_VOICE_MODEL=alloy

USE_SUPERTONIC_TTS=false
SUPERTONIC_VOICE=M3

# VAPID Keys for Web Push
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_EMAIL=mailto:admin@example.com

# Food Recognition Service Configuration
FOOD_API_URL=https://food.bestweiwei.dpdns.org

FRAUD_DETECTION_API_URL=http://vision.futuremedialab.tw:9000/predict
