DB_HOST=db
DB_PORT=5432
DB_DATABASE_NAME=safecall
DB_USERNAME=safecall
DB_PASSWORD=safecall

REDIS_URL=redis://redis:6379/0

WHISPER_MODEL=large-v2
OPENAI_API_KEY=
TTS_MODEL=gpt-4o-mini-tts
VOICE_MODEL=alloy

FRAUD_DETECTION_API_URL=http://vision.futuremedialab.tw:9000/predict

EDGE_TOKEN=
